#container {
    color: black;
}

#profile-circle {
    color: white;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    border: solid rgb(122, 20, 20);
}

#default-profile-circle {
    width: 100px;
    /* Set the width and height as needed */
    height: 100px;
    background-color: white;
    border-radius: 50%;
}

#username-box {

    font-weight: bolder;
}

#title {
    font-weight: bolder;
}